## 모듈 임포트
* 디도스는 먹이지 말자 time

In [1]:
import pandas as pd
import numpy as np
import time

import re


from selenium import webdriver
from selenium.webdriver.chrome.options import Options

## 계획 변경됨
* 크롤링할 데이터는 가진 데이터에서 리뷰 370개 이상인 데이터 약 1400개
  * 리뷰는 이미 있으니 안 가져옴
  * 아마 country, description만 가져올듯
  * 그래서 먼저 리뷰데이터에서 맥주만 중복제거한후 사용
* 아오 110369개 있는줄 알았는데
  * 생각해보니 id 제대로 안쓴 빌런들이 있었는데 그게 사실 원래 있던거라 겹쳐서 꼬임

In [2]:
with open('C:/Users/SSAFY/Downloads/SNAP-Ratebeer.txt', encoding="cp1252") as file:
    lines = file.readlines()

In [3]:
# 데이터 추출 및 전처리
data = []
current_beer = {}
for line in lines:
    if line.strip():  # 빈 줄이 아닌 경우
        key, value = line.strip().split(':', 1)  # 첫번째 ':'만 스플릿에 이용함, 왜냐면 :를 쓴 글이 있음;
        current_beer[key] = value.strip()
    else:  # 빈 줄인 경우 현재 맥주 정보를 데이터에 추가하고 초기화
        data.append(current_beer)
        current_beer = {}

# 마지막 맥주 정보를 추가
if current_beer:
    data.append(current_beer)

# 데이터프레임으로 변환
df = pd.DataFrame(data)

In [4]:
# beer_df = df[['beer/name', 'beer/beerId', 'beer/brewerId', 'beer/ABV', 'beer/style']].drop_duplicates()
# 맥주 정보만 가져와서 새 데이터프레임, 각 맥주당 리뷰 몇개인지 셈
beer_df = df[['beer/name', 'beer/beerId', 'beer/brewerId', 'beer/ABV', 'beer/style']]
beer_df['count'] = beer_df.groupby(['beer/beerId'])['beer/beerId'].transform('count')
beer_df.drop_duplicates(['beer/beerId'], inplace=True)
beer_df = beer_df.reset_index(drop=True)

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_9656\1643181419.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  beer_df['count'] = beer_df.groupby(['beer/beerId'])['beer/beerId'].transform('count')
C:\Users\SSAFY\AppData\Local\Temp\ipykernel_9656\1643181419.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  beer_df.drop_duplicates(['beer/beerId'], inplace=True)

In [5]:
# 아이디에 문자열 쳐넣은 빌런 제거
for i in range(110369):
    try:
        # 만약 int로 안바뀌면(문자면) 에러 발생, 그니까 숫자로 바꿈(보니까 -기준 오른쪽이 id였음)
        int(beer_df.loc[i, 'beer/beerId'])
    except:
        # print(i)
        beer_df.loc[i, 'beer/beerId'] = beer_df.loc[i, 'beer/beerId'].split('-')[-1]
# int(df.loc[86075, 'beer/beerId'])

In [18]:
beer_df = beer_df.groupby('beer/beerId').agg({
    'beer/name' : 'first',
    # 'beer/beerId' : 'first',
    'beer/brewerId' : 'first',
    'beer/ABV' : 'first',
    'beer/style' : 'first',
    'count' : 'sum',
}).reset_index()

In [19]:
beer_df.loc[beer_df['beer/beerId']=='91690']

,beer/beerId,beer/name,beer/brewerId,beer/ABV,beer/style,count
104170,91690,La Saint-Pierre Blonde de l`Oncle Hansi,5546,5.6,Belgian Ale,31

In [6]:
# 이제 리뷰가 370개 이상 달린 맥주만 추려서 리스트로 만들거임
filtered_df = beer_df[beer_df['count'] > 370]
filtered_df = filtered_df.reset_index(drop=True)

many_review_beer = list(filtered_df['beer/beerId'])
for i in range(len(many_review_beer)):
    many_review_beer[i] = int(many_review_beer[i])

In [7]:
# beers = pd.DataFrame(columns=['beer_id', 'name', 'abv', 'rating', 'class_name', 'country', 'description', 'image_path'])
beers = pd.DataFrame(columns=['beer_id', 'country', 'description'])
beers

Empty DataFrame
Columns: [beer_id, country, description]
Index: []

In [ ]:
# 상수들
# MORE_THAN = 1000

### 필요 함수

In [ ]:
# 'reviews (1,234)' 같은 형식 숫자로 바꾸기(다른형식 절대 넣으면 안됨)
# def review_to_numb(reviews : str):
#     reviews = reviews.replace(',', '')
#     return int(reviews[9:-1])
# ids = []

### 진짜 크롤링 하는 코드

In [8]:
from selenium.webdriver.common.by import By
import random


driver = webdriver.Chrome()
# url이 그냥 번호만 바꾸면 되서 이걸로 함
url = 'https://www.ratebeer.com/beer/hite-black-beer-stout/'
# 몇번부터 몇번까지
for i in many_review_beer:
    # 5%의 확률로 30초 쉼
    if ((random.random()*100) <= 5):
        time.sleep(10)
    
    # 변수 초기화
    # click_numb = 0

    # 들어간 후 잠깐 대기
    driver.get(url + f'{i}/')
    driver.set_window_size(900, 900)
    time.sleep(5)

    # 리뷰 개수 세기(1000개 이하 수집 안함)(이미 있으니까 안셀거임)
    # try:  # 만약 시도했는데 없으면 넘어감
    #     reviews = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[4]/div/div[1]/div').text
    #     # click_numb = review_to_numb(reviews)//15
    #     if (review_to_numb(reviews) < MORE_THAN):
    #         continue
    #     else:
    #         ids.append(i)
    #         click_numb = review_to_numb(reviews)//15
    # except:
    #     continue



    # show more 클릭 시도
    try:
        show_more_element = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[1]/div/div[4]/button')
        driver.execute_script("arguments[0].click();", show_more_element)
    except:
        continue
    
    time.sleep(1)

    # 데이터 변수, 한번 시도해보고 안되면 탈출
    beer_id = i
    try:
        # 성공하면 리뷰 포함 전부다 긁어옴
        # name = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[1]/div/div[2]/div[1]/div/div[1]/div/div[1]').text
        # abv = driver.find_element(By.CLASS_NAME, 'MuiTypography-root.bRPQdN.MuiTypography-caption').text
        # class_name = driver.find_element(By.CLASS_NAME, 'MuiTypography-root.Text___StyledTypographyTypeless-bukSfn.kbrPIo.colorized__WrappedComponent-hrwcZr.liJcHu').text
        country = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[1]/div/div[2]/div[1]/div/div[2]/div[3]/div[1]/span').text
        description = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[1]/div/div[2]/div[2]').text
        # image_path = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[1]/div/div[2]/div[1]/img').get_attribute('src')
        # 합치기용 새 데이터프레임
        newdf = pd.DataFrame({
            'beer_id' : [i],
            # 'name' : [name],
            # 'abv' : [abv],
            # 'class_name' : [class_name],
            'country' : [country],
            'description' : [description],
            # 'image_path' : [image_path],
        })
        beers = pd.concat([beers, newdf])
        # 리뷰 데이터 다 가져오는 시도(안할거임)
        # for j in range(click_numb):
        #     tmp = []
        #     next_button = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[4]/div/div[3]/div[16]/div[2]/div/div[3]/button[2]')
        #     review_info = driver.find_elements(By.CSS_SELECTOR, '.px-4.fj-s.f-wrap')
        #     for k in review_info:
        #         tmp.append({'beer_id' : i, 'review_inf' : k.text})
        #     df = pd.DataFrame(tmp)
        #     beer_review = pd.concat([beer_review, df])
        #     driver.execute_script("arguments[0].click();", next_button)
        #     time.sleep(0.5)
    except:
        pass

### 이제 beers변수의 긁어온 데이터들이 닮겨있을테니 이거를
* beer_df와 합침 null값 11만개;;
* 아니 데이터 타입이 달라서 머지가 안됐넼ㅋ
*

In [21]:
# id때문에 문제가 생겨서 csv가져와서 읽음
beers = pd.read_csv('./merged_table.csv')
beers

,index,beer/name,beer/beerId,beer/brewerId,beer/ABV,beer/style,count,country,description
0,352,Chimay Rouge &#40;Red&#41; / Première,51,12,7,Abbey Dubbel,2383,🇧🇪,"Bottle Conditioned - 75 cl, and 33 cl bottles...."
1,353,Chimay Bleue &#40;Blue&#41; / Grande Réserve,53,12,9,Belgian Strong Ale,3056,🇧🇪,"Bottle conditioned - 150 cl, 75 cl, and 33 cl ..."
2,354,Chimay Triple / Blanche &#40;White&#41; / Cin...,52,12,8,Abbey Tripel,2275,🇧🇪,"Chimay Tripel, with its typical golden colour,..."
3,758,The Duck-Rabbit Barleywine,67542,5175,11,Barley Wine,415,🇺🇸,The Duck-Rabbit Barelywine is the hoppiest of ...
4,766,The Duck-Rabbit Baltic Porter,63820,5175,9,Baltic Porter,681,🇺🇸,"The Duck-Rabbit Baltic Porter is deep, rich an..."
...,...,...,...,...,...,...,...,...,...
1461,110230,Pyramid Audacious Apricot Ale,50036,154,5.1,Fruit Beer,842,🇺🇸,Our flavorful apricot ale boldly combines the ...
1462,110237,Pyramid Curve Ball Blonde Ale,14272,154,5,Kölsch,398,🇺🇸,Inspired by the traditional Kölsch style beers...
1463,110254,Pyramid Thunderhead India Pale Ale,953,154,6.7,India Pale Ale &#40;IPA&#41;,731,🇺🇸,We heap the hops into each batch of our Thunde...
1464,110267,Pyramid Snow Cap Ale,957,154,7,English Strong Ale,735,🇺🇸,"Winter Warmer. A rich, full-bodied winter warm..."
1465,110276,Pyramid Haywire Hefeweizen,951,154,5.2,German Hefeweizen,833,🇺🇸,The standard by which all other wheat beers ar...

In [23]:
beers
beers['beer/beerId'] = beers['beer/beerId'].astype(str)
type(beers.loc[0,'beer/beerId'])

str

In [24]:
beer_df
beer_df['beer/beerId'] = beer_df['beer/beerId'].astype(str)
type(beer_df.loc[0,'beer/beerId'])

str

In [31]:
# 머지함, left조인
complete_beer_df = beer_df.merge(beers[['beer/beerId', 'description', 'country']], left_on='beer/beerId', right_on='beer/beerId', how='left')
complete_beer_df

,beer/beerId,beer/name,beer/brewerId,beer/ABV,beer/style,count,description,country
0,1,Beamish Irish Stout,184,4.1,Dry Stout,989,Filtered and pasteurised. Available in nitro c...,🇮🇪
1,100,Nutfield Auburn Ale,19,4.6,Irish Ale,63,NaN,NaN
2,10000,Dithmarscher Pilsener,1790,4.8,Classic German Pilsener,76,NaN,NaN
3,100001,Partners &#40;Anglo Dutch&#41; Aspistus,2810,4,Golden Ale/Blond Ale,4,NaN,NaN
4,100009,Golden City Javapeño Imperial Stout,1160,8.5,Imperial Stout,8,NaN,NaN
...,...,...,...,...,...,...,...,...
110359,9999,Heartland Cornhusker Lager,6516,4.75,Pale Lager,117,NaN,NaN
110360,99990,Big Horn Texas Moon,249,4.3,Wheat Ale,3,NaN,NaN
110361,99992,Big Horn Frostbite Belgian Triple,249,7.5,Abbey Tripel,3,NaN,NaN
110362,99996,Goldmalt Pilsner 12°,8555,-,Pilsener,3,NaN,NaN
110363,99997,Meantime Chocolate Porter &#40;5.5% draught ve...,1158,5.5,Baltic Porter,9,NaN,NaN

In [54]:
complete_beer_df.drop(columns=['beer_id'], inplace=True)

In [33]:
# 일단 db에 박음 시간이;
from sqlalchemy import create_engine
engine = create_engine('postgresql://sulleong:Sulleong104**@sulleong.site:5432/sulleong')
complete_beer_df.to_sql('beer_merged', engine)

364

In [ ]:
# 'https://ratebeer-datasets.s3-us-west-2.amazonaws.com/SNAP-Ratebeer.txt.gz'  # 이거는 그 데이터셋 가져온 url

# 요거는 
# beer_review.to_csv('./myreview.txt', encoding='utf8')
# beer_review.reset_index(drop=True)

## 이거 코테할때 함 보면 조을듯ㅋ

In [ ]:
# ids = input().split(",")
# visit = [False] * 101
# for id in ids:
#     visit[int(id)] = True

# for i in range(1, 101):
#     if not visit[i]:
#         print(i, end = " ")

## (변경전 계획)크롤링할 데이터 / 리뷰 1000개 이하면 무시할거임
* beer_id : (ratebeer 기준)
* name : (영어만)
* abv : 알콜 도수
* rating : 평균 레이팅(필요한가?)
* class_name : ratebeer 기준 분류
* country : 나라(KR, US 등..)
* description : 그냥 설명(영어)
* image_path

### 리뷰
* 이걸 다 긁을까...?
* 1000개 다 긁을까 아니면 일부만 긁을까
* 이것도 시간 제한 조금은 둬야 함